# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*.log

# OS-specific
.DS_Store
Thumbs.db

# Firebase service account key
/config/firebaseServiceKey.json

# Build output
dist/
build/

# Cache
.cache/
.tmp/